<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BERNERS LEE</title>
</head>

<body>
    <h1>BERNERS LEE</h1>
    <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/11/20/15742455367069.jpg" alt="BERNERS LEE"
        width="320px">

    </article>
    <p>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), conocido como Tim Berners-Lee, es un
        científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera
        comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994
        fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo
        de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
    <p>Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más
        efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que
        por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de
        hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web
        URL (Uniform Resource Locator).</p>
    <p>Es posible encontrar muchas de las ideas plasmadas por Berners-Lee en el proyecto Xanadú (que propuso Ted Nelson)
        y el memex (de Vannevar Bush).</p>
    </article>
    <nav>
        <ul>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
        </ul>
        <p><a href="/">Volver al inicio</a></p>
    </nav>

</body>

</html>