<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>HÉROES Y HEROÍNAS DE LA PROGRAMACIÓN</h1>
    <article>
        <p>En esta web encontrarás a todos las heroínas y héroes tecnológicos más representativos del ámbito de la
            programación</p>

        <img src="/img/Mundo de la progamación.jpg" alt="Programación" width="330px">

        <p>A continuación, una lista de cada uno de ellos: </p>

    </article>
    <nav>
        <ul>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
        </ul>
    </nav>
</body>

</html>